@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,600&display=swap");
$custom-blue: #5e72e4;
$custom-green: #2dce89;
$custom-red: #fb6340;
$custom-dark: #32325d;
$custom-secondary: #adb5bd;

html,
body {
    font-family: "Open Sans", sans-serif !important;
    padding-right: 0 !important; // react-modal fix on responsive view
}

// Homapage
.custom-app-container {
    width: 75%;
    @media screen and (max-width: 750px) {
        width: 90%;
    }
    .main-container {
        margin-top: 180px;
        min-height: 400px;
        margin-bottom: 100px;
        @media screen and (max-width: 750px) {
            margin-top: 70px;
        }
    }
}

// Header
.custom-header-container {
    @media screen and (max-width: 750px) {
        img {
            height: 30px;
        }
        .navbar-nav {
            display: none;
        }
    }
}

.background-cont {
    width: 100vh;
    overflow: hidden;
    position: relative;
    height: 700px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    .custom-bg {
        height: 700px;
        object-fit: cover;
    }
}

// Profile Detail
.user-cont {
    .user-list-1 {
        width: 30%;
        .list-group-item {
            color: $custom-secondary;
            font-size: 16px;
            font-weight: 400;
        }
    }
    .user-list-2 {
        width: 70%;
        .list-group-item {
            color: #525f7f;
            font-size: 16px;
        }
    }
}

.user-post {
    font-size: 16px;
    color: $custom-dark;
    text-align: center;
    a {
        font-size: 18px;
    }
}

// Modal Form - React Modal
.custom-modal {
    width: 100vw !important;
    .btn-modal {
        background-color: #11cdef !important;
        color: white !important;
        font-size: 14px !important;
        font-weight: bold;
    }
}

// Footer
.footer-cont {
    .btn-social {
        width: 35px;
        height: 35px;
        border-radius: 5px;
        display: block;
        color: white;
        text-align: center;
        line-height: 35px;
        margin-right: 10px;
        transition: 0.3s;
        bottom: 0;
        position: relative;
        &:hover {
            bottom: 3px;
            color: white;
        }
    }

    .footer-bottom {
        font-size: 14px;
        .text-secondary {
            text-decoration: none;
        }
    }
}

// custom-colors and style fixes
.btn:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.transparent {
    background: rgba(0, 0, 0, 0) !important;
}

.custom-green {
    color: $custom-green;
}

.custom-dark {
    color: $custom-dark;
}

.custom-blue {
    color: $custom-blue !important;
}

.text-primary {
    color: $custom-blue !important;
}

.btn-primary {
    background-color: $custom-blue !important;
}

.btn-danger {
    background-color: $custom-red !important;
}

.btn-success {
    background-color: $custom-green !important;
}

.bg-facebook {
    background: #3b5999;
}

.bg-twitter {
    background: #1da1f2;
}

.bg-dribble {
    background: #ea4c89;
}

.bg-github {
    background: #222222;
}
